.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 128px;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.information {
    display: flex;
    padding: 20px 128px;
    gap: 15px;
    justify-content: space-between;
}

.information-image img {
        max-width: 500px;
        min-width: 200px;
        height: auto;
    
}

.hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px;
}

.middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px 90px;
}

.information-section-images {
    display: flex;
    gap: 50px;
    
    img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    }
}

.quote-section {
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    padding: 128px;
}

.quote-by {
    align-self: end;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info {
    margin-top: 10px;
    max-width: 150px
}

.call-to-action-box {
    display:flex;
    padding: 50px 150px 50px;
    margin: 100px;
    align-items: center;
    justify-content: space-between;
}

.call-to-action-text-box {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0px 25px;
    }
}